{% extends 'base.html' %}

<!-- Imports -->
{% from "_form_helpers.html" import render_field %}



{% block title %}Add User{% endblock %}

{% block content %}
<div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold text-gray-800">Add New User</h1>
    <a href="{{ url_for('admin.user_list') }}"
        class="inline-flex items-center px-4 py-2 bg-gray-200 text-gray-700 rounded-md shadow-sm hover:bg-gray-300 transition-colors">
        Back to Users
    </a>
</div>

<div class="bg-white shadow-md rounded-lg overflow-hidden">
    <div class="p-6">
        <form method="POST" action="{{ url_for('admin.add_user', _external=False) }}" class="space-y-3" novalidate>
            {{ form.hidden_tag() }}

            <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6">

                <div>{{ render_field(form.username) }}</div>
                <div>{{ render_field(form.email) }}</div>
                <div>{{ render_field(form.first_name) }}</div>
                <div>{{ render_field(form.last_name) }}</div>
                <div>{{ render_field(form.password) }}</div>
                <div>{{ render_field(form.password2, label_text='Confirm Password') }}</div>

                <div class="md:col-span-2">{{ render_field(form.roles) }}</div>
            </div>

            <div class="flex justify-end pt-4">
                {{ form.submit(class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium
                rounded-md shadow-sm text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2
                focus:ring-offset-2 focus:ring-purple-500") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}

