{% extends 'base.html' %}

{% block content %}
<h1>Product List</h1>

<h2>Low Stock Alerts:</h2>
{% set low_stock_products = [] %}
{% for product in products %}
    {% if product.stock_level <= product.low_stock_threshold %}
        {% set _ = low_stock_products.append(product) %}
    {% endif %}
{% endfor %}

{% if low_stock_products %}
    <ul>
        {% for product in low_stock_products %}
            <li>{{ product.name }} (Current Stock: {{ product.stock_level }}, Threshold: {{ product.low_stock_threshold }})</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No low stock alerts.</p>

{% endif %}

<a href="{{ url_for('routes.add_product') }}">Add Product</a> |
<a href="{{ url_for('routes.stock_levels') }}">View Stock Levels</a> | 
<a href="{{ url_for('routes.stock_level_report') }}">Stock Level Report</a> | 
<a href="{{ url_for('routes.low_stock_report') }}">Low-Stock Report</a>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>SKU</th>
            <th>Price</th>
            <th>Stock Level</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td> 
            <td>{{ product.sku }}</td> 
            <td>{{ product.price }}</td>
            <td>
                {% if product.stock_level <= product.low_stock_threshold %} 
                    <span style="color: red;">{{ product.stock_level }}</span>
                {% else %}
                    <span>{{ product.stock_level }}</span>
                {% endif %}
            </td>

            <td>
                <a href="{{ url_for('routes.edit_product', product_id=product.id) }}">Edit</a> |
                <a href="{{ url_for('routes.delete_product', product_id=product.id) }}"
                    onclick="return confirm('Are you sure you want to delete {{ product.name }}?')">Delete</a> | 
                <a href="{{ url_for('routes.stock_in', product_id=product.id) }}">Stock In</a> |
                <a href="{{ url_for('routes.stock_out', product_id=product.id) }}">Stock Out</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

